[user]
  name = Ben Barnett
  email = ben@brushfiredesign.net
[push]
  default = simple
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[alias]
  st = status
  df = diff --color --color-words --abbrev
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  co = checkout

  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

[color]
  ui = always
[rebase]
	autosquash = true
